.sidebar
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: flex;
    overflow-y: auto;
    flex-direction: column;

    min-height: 100vh;

    color: #000;
    background: #fff;
}

.sidebar-header
{
    padding: 0 1.3rem;
}

.sidebar-main
{
    flex: 1 0 auto;
}

.sidebar-main i
{
    margin-right: 1.3rem;
}

.sidebar-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.sidebar-list i
{
    font-size: 1.275rem; /* test */
}

.sidebar-list a
{
    font-size: .85rem; /* test (1rem) */
    font-weight: 500; /* test (normal)*/

    display: flex;

    box-sizing: border-box;
    min-height: 2.75rem; /* test (2rem) */
    padding: .882rem 1.3rem; /* test (.5rem 1.3rem) */

    color: inherit;
}

.sidebar-list a i
{
    color: rgba(0,0,0,.5);
}

.sidebar-list a:hover
{
    color: inherit;
    background: rgba(0,0,0,.05);
}

.sidebar-footer
{
    font-size: .85rem;

    box-sizing: border-box;
    padding: 1rem 1.3rem;
}

.sidebar-btn
{
    background: inherit;
}

@media (max-width: 600px)
{
    .sidebar
    {
        left: -16rem;

        transition: left .5s;
    }
}

@media (min-width: 601px)
{
    .sidebar-btn
    {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 992px)
{
    .sidebar-push
    {
        padding-left: 10rem;
    }

    .sidebar
    {
        width: 10rem;
    }
}

@media (min-width: 993px)
{
    .sidebar-push
    {
        padding-left: 16rem;
    }

    .sidebar
    {
        width: 16rem;
    }
}



.sidebar.active
{
    left: 0;

    width: 16rem;
}

.content-locker
{
    display: none;
}

.content-locker.active
{
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.6);
}
