.right
{
    text-align: right;
}

.left
{
    text-align: left;
}

.center
{
    text-align: center;
}

.nopadding
{
    padding: 0;
}

.nomargin
{
    margin: 0;
}

@media (max-width: 600px)
{
    .hide-s
    {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 992px)
{
    .hide-m
    {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1200px)
{
    .hide-l
    {
        display: none;
    }
}

@media (min-width: 1201px)
{
    .hide-e
    {
        display: none;
    }
}

/* for images */
.grayscale
{
    filter: grayscale(100%);
}

/* for divs, images */
.round
{
    border-radius: 50%;
}

/*typography*/
.uppercase
{
    text-transform: uppercase;
}

.lowercase
{
    text-transform: lowercase;
}
