.right
{
    text-align: right;
}

.left
{
    text-align: left;
}

.center
{
    text-align: center;
}

.nopadding
{
    padding: 0 !important;
}

.nomargin
{
    margin: 0 !important;
}

@media (max-width: 600px)
{
    .hide-s
    {
        display: none !important;
    }
}

@media (min-width: 601px) and (max-width: 992px)
{
    .hide-m
    {
        display: none !important;
    }
}

@media (min-width: 993px) and (max-width: 1200px)
{
    .hide-l
    {
        display: none !important;
    }
}

@media (min-width: 1201px)
{
    .hide-e
    {
        display: none !important;
    }
}

/* for images */
.grayscale
{
    filter: grayscale(100%);
}

/* for divs, images */
.round
{
    border-radius: 50%;
}

/*typography*/
.uppercase
{
    text-transform: uppercase;
}

.lowercase
{
    text-transform: lowercase;
}

/* For default font (Roboto) only */
.thin
{
    font-weight: 100;
}

.light
{
    font-weight: 300;
}

.normal
{
    font-weight: 400;
}

.bold
{
    font-weight: 500;
}

.bolder
{
    font-weight: 700;
}

.wide
{
    width: 100%;
}

.truncate
{
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

a.disabled
{
    cursor: default;
    pointer-events: none;

    color: #ccc;
}

.fixed
{
    position: fixed;
}

hr
{
    display: block;

    height: 1px;

    border: 0;
    background: #eee;
}
