body {
    background: #f0f0f0;
}

code {
    background: #fff !important;
    border-radius: 3px;
    border: 1px solid #cfd8dc;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.col
{
    line-height: 3rem;

    box-sizing: border-box;
    height: 3rem;

    text-align: center;

    color: #fff;
    border: 1px solid #fff;
    background: #0277bd;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
