body {
    background: #f0f0f0;
}

code {
    background: #fff !important;
    border-radius: 3px;
    border: 1px solid #cfd8dc;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
