/*!
 * NewAge v0.0.1 (https://acruxray.github.io/newage)
 * Copyright 2017 NewAge
 * MIT License (https://raw.githubusercontent.com/acruxray/newage/master/LICENSE)
 */

 @font-face {
   font-family: "Roboto";
   src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
   font-weight: 100;
 }

 @font-face {
   font-family: "Roboto";
   src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
   font-weight: 300;
 }

 @font-face {
   font-family: "Roboto";
   src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
   font-weight: 400;
 }

 @font-face {
   font-family: "Roboto";
   src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
   font-weight: 500;
 }

 @font-face {
   font-family: "Roboto";
   src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
   font-weight: 700;
 }

html {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.9);
 }

body {
   margin: 0;
}

a {
 text-decoration: none;
}

@media (min-width: 0) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}

/* Grid system
   -------------------------------------------------------- */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  height: 3rem;
  border: 1px solid #fff;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  background: #0277bd;
  box-sizing: border-box;
}

.s1 {
  width: calc(100% / 12);
}

.s2 {
  width: calc(100% / 6);
}

.s3 {
  width: calc(100% / 4);
}

.s4 {
  width: calc(100% / 3);
}

.s5 {
  width: calc((100% / 12) * 5);
}

.s6 {
  width: calc(100% / 2);
}

.s7 {
  width: calc((100% / 12) * 7);
}

.s8 {
  width: calc((100% / 12) * 8);
}

.s9 {
  width: calc((100% / 12) * 9);
}

.s10 {
  width: calc((100% / 12) * 10);
}

.s11 {
  width: calc((100% / 12) * 11);
}

.s12 {
  width: 100%;
}

@media (min-width: 601px) {
  .m1 {
    width: calc(100% / 12);
  }

  .m2 {
    width: calc(100% / 6);
  }

  .m3 {
    width: calc(100% / 4);
  }

  .m4 {
    width: calc(100% / 3);
  }

  .m5 {
    width: calc((100% / 12) * 5);
  }

  .m6 {
    width: calc(100% / 2);
  }

  .m7 {
    width: calc((100% / 12) * 7);
  }

  .m8 {
    width: calc((100% / 12) * 8);
  }

  .m9 {
    width: calc((100% / 12) * 9);
  }

  .m10 {
    width: calc((100% / 12) * 10);
  }

  .m11 {
    width: calc((100% / 12) * 11);
  }

  .m12 {
    width: 100%;
  }
}

@media (min-width: 993px) {
  .l1 {
    width: calc(100% / 12);
  }

  .l2 {
    width: calc(100% / 6);
  }

  .l3 {
    width: calc(100% / 4);
  }

  .l4 {
    width: calc(100% / 3);
  }

  .l5 {
    width: calc((100% / 12) * 5);
  }

  .l6 {
    width: calc(100% / 2);
  }

  .l7 {
    width: calc((100% / 12) * 7);
  }

  .l8 {
    width: calc((100% / 12) * 8);
  }

  .l9 {
    width: calc((100% / 12) * 9);
  }

  .l10 {
    width: calc((100% / 12) * 10);
  }

  .l11 {
    width: calc((100% / 12) * 11);
  }

  .l12 {
    width: 100%;
  }
}

@media (min-width: 1201px) {
  .e1 {
    width: calc(100% / 12);
  }

  .e2 {
    width: calc(100% / 6);
  }

  .e3 {
    width: calc(100% / 4);
  }

  .e4 {
    width: calc(100% / 3);
  }

  .e5 {
    width: calc((100% / 12) * 5);
  }

  .e6 {
    width: calc(100% / 2);
  }

  .e7 {
    width: calc((100% / 12) * 7);
  }

  .e8 {
    width: calc((100% / 12) * 8);
  }

  .e9 {
    width: calc((100% / 12) * 9);
  }

  .e10 {
    width: calc((100% / 12) * 10);
  }

  .e11 {
    width: calc((100% / 12) * 11);
  }

  .e12 {
    width: 100%;
  }
}

/* Buttons
   -------------------------------------------------------- */
.btn {
 	padding: 1rem 1.6rem;
 	background-color: #ffa000;
 	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
 	text-decoration: none;
 	color: #fff;
 	border-radius: 3px;
 	text-transform: uppercase;
 	display: inline-block;
 	box-sizing: border-box;
}

.btn-s {
 	font-size: 0.75rem;
 	height: 2.75rem;
}

.btn-m {
 	font-size: 1rem;
 	height: 3rem;
}

.btn-l {
 	font-size: 1.25rem;
 	height: 3.25rem;
}

.btn-e {
 	font-size: 1.5rem;
 	height: 3.5rem;
}

.btn-round {
 	border-radius: 50%;
 	padding: 0;
 	background-color: #ffa000;
 	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
 	text-decoration: none;
 	color: #fff;
 	display: inline-block;
 	box-sizing: border-box;
 	text-align: center;
}

.btn-round-s {
 	font-size: 0.75rem;
 	width: 2.75rem !important;
 	height: 2.75rem;
}

.btn-round-m {
 	font-size: 1rem;
 	width: 3rem;
 	height: 3rem;
}

.btn-round-l {
 	font-size: 1.25rem;
 	width: 3.25rem;
 	height: 3.25rem;
}

.btn-round-e {
 	font-size: 1.5rem;
 	width: 3.5rem;
 	height: 3.5rem;
}

.btn-round i {
 	font-size: calc(100% + 0.5rem);
 	line-height: calc(100% + 1.5rem);
}

/* Cards
   -------------------------------------------------------- */
.card {
 	border-radius: 3px;
 	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
 	margin-top: 1rem;
}

.card-title,
.card-main,
.card-footer {
 	padding: 1rem;
}

.card-title {
 	font-size: 1.75rem;
}

.card-main {
 	font-size: 1rem;
}

.card-footer {
 	font-size: 0.75rem;
 	text-transform: uppercase;
 	border-top: 1px solid #eee;
}

.card-s {
 	width: 14rem;
}

.card-m {
 	width: 23rem;
}

.card-l {
 	width: 37rem;
}

.card-e {
 	width: 60rem;
}


/* Navbar
   -------------------------------------------------------- */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-wrapper.navbar-fixed {
  position: fixed;
}

.navbar {
  background: #0277bd;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  color: #fff;
  display: flex;
  height: 4rem;
  line-height: 4rem;
  box-sizing: border-box;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar .img,
.navbar .logo,
.navbar .links a {
  padding: 0 1rem;
}

.navbar .links {
  position: absolute;
  right: 0;
  display: flex;
}

.navbar .links a {
  height: inherit;
  display: flex;
}

.navbar .links i {
  line-height: inherit;
  font-size: 1.5rem;
}

.navbar .links a:hover {
  background: rgba(0,0,0,0.3);
}

.navbar .logo {
  line-height: inherit;
}

.navbar .logo .logo-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.navbar .img {
  display: flex;
}

.navbar .img img {
  height: 3rem;
  margin: auto;
}

.navbar.small {
  height: 3rem;
  line-height: 3rem;
}

.navbar.small .img img {
  height: 2.25rem;
}

.navbar.large {
  height: 5rem;
  line-height: 5rem;
}

.navbar.large .img img {
  height: 3.75rem;
}

.black {
  background: #212121;
}

.no-shadow {
  box-shadow: 0 0 0 0;
}