.navbar-wrapper
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

.navbar-wrapper.navbar-fixed
{
    position: fixed;
}

.navbar
{
    line-height: 4rem;

    position: relative;

    display: flex;

    box-sizing: border-box;
    height: 4rem;

    color: #fff;
    background: #0277bd;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3);
}

.navbar h1
{
    line-height: inherit;
}

.navbar a
{
    text-decoration: none;

    color: #fff;
}

.navbar a:hover
{
    color: #fff;
}

.navbar .img,
.navbar .logo,
.navbar .links a
{
    padding: 0 1rem;
}

.navbar .links
{
    position: absolute;
    right: 0;

    display: flex;
}

.navbar .links a
{
    display: flex;

    height: inherit;
}

.navbar .links i
{
    font-size: 1.5rem;
    line-height: inherit;
}

.navbar .links a:hover
{
    color: rgba(255,255,255,.95);
    background: rgba(0,0,0,.3);
}

.navbar .logo
{
    line-height: inherit;
}

.navbar .logo .logo-title
{
    font-size: 1.5rem;
    font-weight: normal;

    margin: 0;
}

.navbar .img
{
    display: flex;
}

.navbar .img img
{
    height: 3rem;
    margin: auto;
}

.navbar.small
{
    line-height: 3rem;

    height: 3rem;
}

.navbar.small .img img
{
    height: 2.25rem;
}

.navbar.large
{
    line-height: 5rem;

    height: 5rem;
}

.navbar.large .img img
{
    height: 3.75rem;
}

.black
{
    background: #212121;
}

.no-shadow
{
    box-shadow: 0 0 0 0;
}

.navbar form
{
    display: flex;

    width: 100%;
}

.navbar-search
{
    font-size: 1rem;

    width: 100%;

    border: 0;
    outline: 0;
}

.navbar form .icon
{
    padding: 0 1rem;

    color: rgba(0,0,0,.7);
    background: #fff;;
}

.navbar form .icon i
{
    font-size: 2rem;
    line-height: inherit;
}
