.list
{
    padding: 0;

    list-style: none;
}

.list > li
{
    display: flex;

    box-sizing: border-box;
    min-height: 3rem;
    padding: 1rem;

    border-bottom: 1px solid #ddd;
}

.list.noborder > li
{
    border-bottom: 0;
}

.list .composite
{
    padding: 0;
}

.composite .img
{
    overflow: hidden;

    padding: 1rem;
}

.composite .text
{
    overflow: hidden;

    width: 100%;
    padding: 1rem;
}

.composite .icon
{
    line-height: 1rem;

    overflow: hidden;

    padding: 1rem;
}

.list a
{
    text-decoration: none;

    color: inherit;
}

.list .block
{
    padding: 0;
}

.list .block a
{
    line-height: 1rem;

    display: block;

    width: 100%;
    padding: 1rem;
}

.list .narrow
{
    min-height: 2rem !important;
}

.list .narrow a
{
    box-sizing: border-box;
    min-height: 2rem !important;
    padding: .5rem 1rem !important;
}

.list .active a
{
    padding-left: calc(1rem - 3px) !important;

    border-left: 3px solid #fa0;
}
